 #  A Whale off the Port(folio)
 ---

 In this assignment, you'll get to use what you've learned this week to evaluate the performance among various algorithmic, hedge, and mutual fund portfolios and compare them against the S&P 500 Index.

In [97]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

# Data Cleaning

In this section, you will need to read the CSV files into DataFrames and perform any necessary data cleaning steps. After cleaning, combine all DataFrames into a single DataFrame.

Files:

* `whale_returns.csv`: Contains returns of some famous "whale" investors' portfolios.

* `algo_returns.csv`: Contains returns from the in-house trading algorithms from Harold's company.

* `sp500_history.csv`: Contains historical closing prices of the S&P 500 Index.

## Whale Returns

Read the Whale Portfolio daily returns and clean the data

In [98]:
# Reading whale returns
whale_returns_data = Path("Resources/whale_returns.csv")
whale_returns_data = pd.read_csv(whale_returns_data, infer_datetime_format = True, parse_dates = True )

In [99]:
# Changing to "df" to concat csv
whale_returns_df = whale_returns_data
whale_returns_df.head()

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
0,2015-03-02,NaN,NaN,NaN,NaN
1,2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2,2015-03-04,0.002230,0.003241,-0.002534,0.004213
3,2015-03-05,0.004016,0.004076,0.002355,0.006726
4,2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098

In [100]:
# Count nulls
whale_returns_df.isnull().count()

Date                           1060
SOROS FUND MANAGEMENT LLC      1060
PAULSON & CO.INC.              1060
TIGER GLOBAL MANAGEMENT LLC    1060
BERKSHIRE HATHAWAY INC         1060
dtype: int64

In [101]:
# Drop nulls
whale_returns_df.dropna().copy()

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
1,2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2,2015-03-04,0.002230,0.003241,-0.002534,0.004213
3,2015-03-05,0.004016,0.004076,0.002355,0.006726
4,2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
5,2015-03-09,0.000582,0.004225,0.005843,-0.001652
...,...,...,...,...,...
1055,2019-04-25,-0.000285,-0.001291,-0.005153,0.004848
1056,2019-04-26,0.008149,0.009162,0.012355,0.010434
1057,2019-04-29,0.001254,0.002719,0.006251,0.005223
1058,2019-04-30,-0.001295,-0.002211,-0.000259,-0.003702
1059,2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833

## Algorithmic Daily Returns

Read the algorithmic daily returns and clean the data

In [102]:
# Reading algorithmic returns
algo_returns_data = Path("Resources/algo_returns.csv")
algo_returns_data = pd.read_csv(algo_returns_data, infer_datetime_format = True, parse_dates = True )

In [103]:
# Changing to "df" to concat csv
algo_returns_df = algo_returns_data
algo_returns_df.head()

         Date    Algo 1  Algo 2
0  2014-05-28  0.001745     NaN
1  2014-05-29  0.003978     NaN
2  2014-05-30  0.004464     NaN
3  2014-06-02  0.005692     NaN
4  2014-06-03  0.005292     NaN

In [104]:
# Count nulls
algo_returns_df.isnull().count()

Date      1241
Algo 1    1241
Algo 2    1241
dtype: int64

In [105]:
# Drop nulls
algo_returns_df.dropna().copy()

            Date    Algo 1    Algo 2
6     2014-06-05  0.004062  0.013285
7     2014-06-06  0.001857  0.008284
8     2014-06-09 -0.005012  0.005668
9     2014-06-10  0.004406 -0.000735
10    2014-06-11  0.004760 -0.003761
...          ...       ...       ...
1236  2019-04-25  0.000682 -0.007247
1237  2019-04-26  0.002981  0.005256
1238  2019-04-29  0.005208  0.002829
1239  2019-04-30 -0.002944 -0.001570
1240  2019-05-01  0.000094 -0.007358

[1235 rows x 3 columns]

## S&P 500 Returns

Read the S&P 500 historic closing prices and create a new daily returns DataFrame from the data.

In [106]:
# Reading S&P 500 Closing Prices
sp500_history_data = Path("Resources/sp500_history.csv")
sp500_history_df = pd.read_csv(sp500_history_data, infer_datetime_format = True, parse_dates = True )
sp500_history_df.head()

        Date     Close
0  23-Apr-19  $2933.68
1  22-Apr-19  $2907.97
2  18-Apr-19  $2905.03
3  17-Apr-19  $2900.45
4  16-Apr-19  $2907.06

In [107]:
# Check Data Types
sp500_history_df.dtypes

Date     object
Close    object
dtype: object

In [108]:
sp500_history_df.describe(include='all')

            Date     Close
count       1649      1649
unique      1649      1639
top     3-Nov-15  $2723.06
freq           1         2

In [109]:
# Fix Data Types
sp500_history_df.set_index(pd.to_datetime(sp500_history_df['Date'], infer_datetime_format=True), inplace=True)
sp500_history_df.head()

                 Date     Close
Date
2019-04-23  23-Apr-19  $2933.68
2019-04-22  22-Apr-19  $2907.97
2019-04-18  18-Apr-19  $2905.03
2019-04-17  17-Apr-19  $2900.45
2019-04-16  16-Apr-19  $2907.06

In [110]:
sp500_history_df.drop(columns=['Date'], inplace=True)
sp500_history_df.head()

               Close
Date
2019-04-23  $2933.68
2019-04-22  $2907.97
2019-04-18  $2905.03
2019-04-17  $2900.45
2019-04-16  $2907.06

In [111]:
pd.to_numeric(sp500_history_df['Close'].str.replace('$', ''))

Date
2019-04-23    2933.68
2019-04-22    2907.97
2019-04-18    2905.03
2019-04-17    2900.45
2019-04-16    2907.06
               ...
2012-10-05    1460.93
2012-10-04    1461.40
2012-10-03    1450.99
2012-10-02    1445.75
2012-10-01    1444.49
Name: Close, Length: 1649, dtype: float64

In [156]:
sp500_history_df["Close"] = sp500_history_df["Close"].astype("float")

In [157]:
sp500_history_df.dtypes

Close    float64
dtype: object

In [158]:
# Calculate Daily Returns
sp500_daily_returns_df = sp500_history_df.pct_change()
sp500_daily_returns_df.head()

               Close
Date
2019-04-23       NaN
2019-04-22 -0.008764
2019-04-18 -0.001011
2019-04-17 -0.001577
2019-04-16  0.002279

In [115]:
# Drop nulls
sp500_daily_returns_df.isnull().count()

Close    1649
dtype: int64

In [116]:
sp500_daily_returns_df.dropna().copy()

               Close
Date
2019-04-22 -0.008764
2019-04-18 -0.001011
2019-04-17 -0.001577
2019-04-16  0.002279
2019-04-15 -0.000509
...              ...
2012-10-05  0.003469
2012-10-04  0.000322
2012-10-03 -0.007123
2012-10-02 -0.003611
2012-10-01 -0.000872

[1648 rows x 1 columns]

In [89]:
# Rename `Close` Column to be specific to this portfolio.

## Combine Whale, Algorithmic, and S&P 500 Returns

In [159]:
# Join Whale Returns, Algorithmic Returns, and the S&P 500 Returns into a single DataFrame with columns for each portfolio's returns.
column_appended_data = pd.concat([whale_returns_df, algo_returns_df, sp500_daily_returns_df], axis="columns", join="inner")
column_appended_data

Empty DataFrame
Columns: [Date, SOROS FUND MANAGEMENT LLC, PAULSON & CO.INC. , TIGER GLOBAL MANAGEMENT LLC, BERKSHIRE HATHAWAY INC, Date, Algo 1, Algo 2, Close]
Index: []

# Conduct Quantitative Analysis

In this section, you will calculate and visualize performance and risk metrics for the portfolios.

## Performance Anlysis

#### Calculate and Plot the daily returns.

In [121]:
# Plot daily returns of all portfolios

#### Calculate and Plot cumulative returns.

In [ ]:
# Calculate cumulative returns of all portfolios

# Plot cumulative returns

---

## Risk Analysis

Determine the _risk_ of each portfolio:

1. Create a box plot for each portfolio. 
2. Calculate the standard deviation for all portfolios
4. Determine which portfolios are riskier than the S&P 500
5. Calculate the Annualized Standard Deviation

### Create a box plot for each portfolio

In [ ]:
# Box plot to visually show risk

### Calculate Standard Deviations

In [ ]:
# Calculate the daily standard deviations of all portfolios

### Determine which portfolios are riskier than the S&P 500

In [ ]:
# Calculate  the daily standard deviation of S&P 500

# Determine which portfolios are riskier than the S&P 500

### Calculate the Annualized Standard Deviation

In [ ]:
# Calculate the annualized standard deviation (252 trading days)

---

## Rolling Statistics

Risk changes over time. Analyze the rolling statistics for Risk and Beta. 

1. Calculate and plot the rolling standard deviation for the S&P 500 using a 21-day window
2. Calculate the correlation between each stock to determine which portfolios may mimick the S&P 500
3. Choose one portfolio, then calculate and plot the 60-day rolling beta between it and the S&P 500

### Calculate and plot rolling `std` for all portfolios with 21-day window

In [ ]:
# Calculate the rolling standard deviation for all portfolios using a 21-day window

# Plot the rolling standard deviation

### Calculate and plot the correlation

In [ ]:
# Calculate the correlation

# Display de correlation matrix

### Calculate and Plot Beta for a chosen portfolio and the S&P 500

In [ ]:
# Calculate covariance of a single portfolio

# Calculate variance of S&P 500

# Computing beta

# Plot beta trend

## Rolling Statistics Challenge: Exponentially Weighted Average 

An alternative way to calculate a rolling window is to take the exponentially weighted moving average. This is like a moving window average, but it assigns greater importance to more recent observations. Try calculating the [`ewm`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html) with a 21-day half-life.

In [ ]:
# Use `ewm` to calculate the rolling window

---

# Sharpe Ratios
In reality, investment managers and thier institutional investors look at the ratio of return-to-risk, and not just returns alone. After all, if you could invest in one of two portfolios, and each offered the same 10% return, yet one offered lower risk, you'd take that one, right?

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [ ]:
# Annualized Sharpe Ratios

In [ ]:
# Visualize the sharpe ratios as a bar plot

### Determine whether the algorithmic strategies outperform both the market (S&P 500) and the whales portfolios.

Write your answer here!

---

# Create Custom Portfolio

In this section, you will build your own portfolio of stocks, calculate the returns, and compare the results to the Whale Portfolios and the S&P 500. 

1. Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.
2. Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock
3. Join your portfolio returns to the DataFrame that contains all of the portfolio returns
4. Re-run the performance and risk analysis with your portfolio to see how it compares to the others
5. Include correlation analysis to determine which stocks (if any) are correlated

## Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.

For this demo solution, we fetch data from three companies listes in the S&P 500 index.

* `GOOG` - [Google, LLC](https://en.wikipedia.org/wiki/Google)

* `AAPL` - [Apple Inc.](https://en.wikipedia.org/wiki/Apple_Inc.)

* `COST` - [Costco Wholesale Corporation](https://en.wikipedia.org/wiki/Costco)

In [142]:
# Reading data from 1st stock
appb_historical_data = Path("Resources/appb_historical.csv")
appb_historical_df = pd.read_csv(appb_historical_data, infer_datetime_format = True, parse_dates = True)
appb_historical_df.head()

        Date  Close
0  1/21/2020   0.35
1  1/22/2020   0.35
2  1/23/2020   0.35
3  1/27/2020   0.35
4  1/28/2020   0.35

In [152]:
appb_historical_df = appb_historical_df.set_index("Date")
appb_historical_df

           Close
Date
1/21/2020   0.35
1/22/2020   0.35
1/23/2020   0.35
1/27/2020   0.35
1/28/2020   0.35
...          ...
1/4/2021    0.42
1/5/2021    0.00
1/6/2021    0.00
1/7/2021    0.12
1/11/2021   0.08

[149 rows x 1 columns]

In [143]:
# Reading data from 2nd stock
dltr_historical_data = Path("Resources/dltr_historical.csv")
dltr_historical_df = pd.read_csv(dltr_historical_data, infer_datetime_format = True, parse_dates = True)
dltr_historical_df.head()

        Date  Close
0  1/21/2020  89.50
1  1/22/2020  89.87
2  1/23/2020  87.94
3  1/24/2020  87.71
4  1/27/2020  88.40

In [153]:
dltr_historical_df = dltr_historical_df.set_index("Date")
dltr_historical_df

            Close
Date
1/21/2020   89.50
1/22/2020   89.87
1/23/2020   87.94
1/24/2020   87.71
1/27/2020   88.40
...           ...
1/11/2021  112.43
1/12/2021  114.18
1/13/2021  112.47
1/14/2021  109.97
1/15/2021  108.34

[251 rows x 1 columns]

In [145]:
# Reading data from 3rd stock
pzza_historical_data = Path("Resources/pzza_historical.csv")
pzza_historical_df = pd.read_csv(pzza_historical_data, infer_datetime_format = True, parse_dates = True)
pzza_historical_df.head()

        Date  Close
0  1/21/2020  64.50
1  1/22/2020  66.14
2  1/23/2020  66.92
3  1/24/2020  66.53
4  1/27/2020  64.94

In [154]:
pzza_historical_df = pzza_historical_df.set_index("Date")
pzza_historical_df

           Close
Date
1/21/2020  64.50
1/22/2020  66.14
1/23/2020  66.92
1/24/2020  66.53
1/27/2020  64.94
...          ...
1/11/2021  93.33
1/12/2021  94.14
1/13/2021  93.76
1/14/2021  93.85
1/15/2021  95.20

[251 rows x 1 columns]

In [155]:
# Combine all stocks in a single DataFrame
column_appended_data = pd.concat([appb_historical_df, dltr_historical_df, pzza_historical_df], axis="columns", join="inner")
column_appended_data

           Close   Close  Close
Date
1/21/2020   0.35   89.50  64.50
1/22/2020   0.35   89.87  66.14
1/23/2020   0.35   87.94  66.92
1/27/2020   0.35   88.40  64.94
1/28/2020   0.35   86.76  66.05
...          ...     ...    ...
1/4/2021    0.42  106.94  85.34
1/5/2021    0.00  107.13  90.18
1/6/2021    0.00  112.97  93.40
1/7/2021    0.12  114.75  93.72
1/11/2021   0.08  112.43  93.33

[149 rows x 3 columns]

In [ ]:
# Reset Date index

In [ ]:
# Reorganize portfolio data by having a column per symbol

In [ ]:
# Calculate daily returns

# Drop NAs

# Display sample data

## Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock

In [ ]:
# Set weights
weights = [1/3, 1/3, 1/3]

# Calculate portfolio return

# Display sample data

## Join your portfolio returns to the DataFrame that contains all of the portfolio returns

In [ ]:
# Join your returns DataFrame to the original returns DataFrame

In [ ]:
# Only compare dates where return data exists for all the stocks (drop NaNs)

## Re-run the risk analysis with your portfolio to see how it compares to the others

### Calculate the Annualized Standard Deviation

In [ ]:
# Calculate the annualized `std`

### Calculate and plot rolling `std` with 21-day window

In [ ]:
# Calculate rolling standard deviation

# Plot rolling standard deviation

### Calculate and plot the correlation

In [ ]:
# Calculate and plot the correlation

### Calculate and Plot Rolling 60-day Beta for Your Portfolio compared to the S&P 500

In [ ]:
# Calculate and plot Beta

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [ ]:
# Calculate Annualzied Sharpe Ratios

In [ ]:
# Visualize the sharpe ratios as a bar plot

### How does your portfolio do?

Write your answer here!